/* Global Settings & Overrides */
.pagination {
    justify-content: center;
}
/* Active Page - Pagination */
.pagination .page-item.active .page-link {
    background-color: #655e7a;
    border: #655e7a 1px solid;
    color: #ffffff;
}
/* Not Active Page - Pagination */
.pagination .page-item .page-link {
    color: #655e7a;
}
.pagination .page-item .page-link:hover {
    background-color: #D8D7DE;
}
/* Portfolio Section */
.portfolio-title {
    font-weight: 100 !important;
    text-transform: uppercase !important;
    color: #b9b9b9 !important;
}
.portfolio-subtitle {
    font-weight: 300 !important;
    font-size: 18px !important;
    color: #b9b9b9 !important;
}
.portfolio-single-image {
    max-width: 512px;
    max-height: 384px;
}
